form {
  width: 60%;
  margin: auto;
  margin-top: 120px;
}

form input[type="text"] {
  width: 80%;
  padding: 10px;
  border: 2px solid #345b63;
  border-radius: 5px 0 0 5px;
  outline: none;
}

form input[type="submit"] {
  width: 10%;
  padding: 12px;
  background-color: #345b63;
  border: none;
  border-radius: 0 5px 5px 0;
  outline: none;
  color: #fff;
  font-weight: bold;
}
