.error-alert {
  width: 50%;
  margin: auto;
  margin-top: 30px;
  border: 1px solid #ff2442;
  border-radius: 5px;
  padding: 10px;
}

.error-alert h2 {
  font-size: 1.5rem;
  color: #ff2442;
}

.error-alert p {
  font-size: 1rem;
  color: #ff2442;
}
